<div class="row">
  <div class="col-md-2">
    <date-input
      label="A partir de "
      (valor)="dataInicio = $event; converterToDate()"
      name="data1"
      usagem="nClear"
    ></date-input>
  </div>

  <div class="col-md-2">
    <date-input
      label="Até "
      (valor)="dataFinal = $event; converterToDate()"
      name="data1"
      usagem="nClear"
    ></date-input>
  </div>

  <div class="col-md-6">
    <select-input
      #equip
      label="Operação"
      [itens]="['Crédito', 'Débito', 'Relatório']"
      (valor)="operacao = $event; checkOperacao()"
      [value]="operacao"
    ></select-input>
  </div>
</div>

<list
  *ngIf="operacao == 'Crédito'"
  [cabecalhos]="[
    'Editar',
    'Data',
    'Descrição',
    'Centro de custo',
    'Valor do Documento',
    'Repetir',
    'Pagamento Efetuado',
    'Creditar Na Conta',
    'Recebimento de'
  ]"
  [valores]="lancamentosFiltrados"
  [campos]="[
    'data',
    'descricao',
    ['centroDeCusto', 'nome'],
    'valorDocumento',
    'repetir',
    'pagamentoEfetuado',
    ['contaFinanceira', 'nome'],
    'pagamento_recebimento'
  ]"
  (editFunction)="edit($event)"
  (deleteFunction)="delete($event)"
></list>

<list
  *ngIf="operacao == 'Débito'"
  [cabecalhos]="[
    'Editar',
    'Data',
    'Descrição',
    'Centro de custo',
    'Valor do Documento',
    'Repetir',
    'Pagamento Efetuado',
    'Debitar Na Conta',
    'Pagamento de'
  ]"
  [valores]="lancamentosFiltrados"
  [campos]="[
    'data',
    'descricao',
    ['centroDeCusto', 'nome'],
    'valorDocumento',
    'repetir',
    'pagamentoEfetuado',
    ['contaFinanceira', 'nome'],
    'pagamento_recebimento'
  ]"
  (editFunction)="edit($event)"
  (deleteFunction)="delete($event)"
></list>

<div *ngIf="operacao == 'Relatório'">
  <div class="row m-2">
    <h3>
      <p style="color: crimson">
        Recebimentos no periódo: {{ this.recebimentos }};
      </p>
      <p style="color: darkcyan">Despesas no periódo: {{ this.despesas }};</p>
      <p style="color: darkgreen">Saldo Final do periódo: {{ this.saldo }};</p>
    </h3>
  </div>

  <list
    [cabecalhos]="[
      'Data',
      'Operação',
      'Descrição',
      'Centro de Custo',
      'Valor do Documento',
      'Repetir',
      'Pagamento Efetuado',
      'Conta Financeira'
    ]"
    [valores]="lancamentosFiltrados"
    [campos]="[
      'data',
      'operacao',
      'descricao',
      ['centroDeCusto', 'nome'],
      'valorDocumento',
      'repetir',
      'pagamentoEfetuado',
      ['contaFinanceira', 'nome']
    ]"
    usagem="nEditarNDeletar"
  ></list>
</div>

<div style="text-align: center">
  <button (click)="adicionar()" class="btn btn-primary">
    Adicionar Lançamento Financeiro
  </button>
</div>
