<div class="m-5">
  <form #f="ngForm">
    <mat-tab-group>
      <mat-tab label="Cadastro">
        <div class="row">
          <div class="col-md-3">
            <text-input
              label="Nome"
              [(ngModel)]="animal.nome"
              name="nome"
            ></text-input>
          </div>

          <div class="col-md-3">
            <date-input
              label="Data de Nascimento"
              (valor)="animal.dataNascimento = $event"
              [value]="animal.dataNascimento"
              name="dataNascimento"
            >
            </date-input>
          </div>

          <div class="col-md-3">
            <date-input
              label="Data de Entrada no plantel"
              (valor)="animal.dataEntrada = $event"
              [value]="animal.dataEntrada"
              name="dataEntrada"
            >
            </date-input>
          </div>

          <div class="col-md-3">
            <text-input
              label="Criador"
              [(ngModel)]="animal.criador"
              name="criador"
            ></text-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <text-input
              label="Proprietário"
              [(ngModel)]="animal.proprietario"
              name="proprietario"
            ></text-input>
          </div>

          <div class="col-md-3">
            <text-input
              label="Local de Nascimento"
              [(ngModel)]="animal.nacionalidade"
              name="nacionalidade"
            ></text-input>
          </div>

          <div class="col-md-3">
            <text-input
              label="Controle de Criador"
              [(ngModel)]="animal.controlCriador"
              name="controlCriador"
            ></text-input>
          </div>

          <div class="col-md-3">
            <text-input
              label="Pelagem"
              [(ngModel)]="animal.pelagem"
              name="pelagem"
            ></text-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <select-input
              #equip
              label="Sexo"
              [itens]="sexos"
              (valor)="animal.sexo = $event"
              [value]="animal.sexo"
            ></select-input>
          </div>

          <div class="col-md-3" *ngIf="animal.sexo == 'Fêmea'">
            <select-input
              #equip
              label="Categoria"
              [itens]="papeisFem"
              (valor)="animal.categoria = $event"
              [value]="animal.categoria"
            ></select-input>
          </div>

          <div class="col-md-3" *ngIf="animal.sexo == 'Macho'">
            <select-input
              #equip
              label="Categoria"
              [itens]="papeisMacho"
              (valor)="animal.categoria = $event"
              [value]="animal.categoria"
            ></select-input>
          </div>

          <div class="col-md-3">
            <select-input
              #equip
              label="Temperamento"
              [itens]="temperamentos"
              (valor)="animal.temperamento = $event"
              [value]="animal.temperamento"
            ></select-input>
          </div>

          <div class="col-md-3">
            <mat-checkbox
              [(ngModel)]="animal.vivo"
              name="vivo"
              class="example-margin"
              >Vivo</mat-checkbox
            >
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Associação">
        <div class="row">
          <div class="col-md-6">
            <text-input-autocomplete
            #equip
            label="Responsável"
            colecao="{{ responsavel_collection }}"
            selectLabel="nome"
            (valor)="
              animal.exameDna.responsavel = $event; equip.realizarFiltragem($event.id)
            "
            [value]="animal.exameDna.responsavel"
            [filtro]="['sexo', '==', 'Macho']"
          ></text-input-autocomplete>
          </div>

          <div class="col-md-6">
            <select-input
              #equip
              label="Tipo de registro"
              [itens]="tipos"
              (valor)="animal.registroAssociacao.tipo = $event"
              [value]="animal.registroAssociacao.tipo"
            ></select-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <number-input
              label="Numero de registro"
              [(ngModel)]="animal.registroAssociacao.numero"
              name="numeroRegistro"
            ></number-input>
          </div>

          <div class="col-md-4">
            <text-input
              label="Livro de Registro"
              [(ngModel)]="animal.registroAssociacao.livro"
              name="livro"
            ></text-input>
          </div>

          <div class="col-md-4">
            <number-input
              label="Numero de chip"
              [(ngModel)]="animal.registroAssociacao.numeroChip"
              name="numeroChip"
            ></number-input>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Complemento">
        <div class="row">
          <div class="col-md-6">
            <select-input
              #equip
              label="Método de concepção"
              [itens]="metodosConcepcao"
              (valor)="animal.metodoConcepcao = $event"
              [value]="animal.metodoConcepcao"
            ></select-input>
          </div>

          <div class="col-md-6">
            <date-input
              label="Data de Desmame"
              (valor)="animal.dataDesmame = $event"
              [value]="animal.dataDesmame"
              name="dataDesmame"
            >
            </date-input>
          </div>
        </div>
        <div style="text-align: center">
          <h1>DOCUMENTOS</h1>
        </div>
        <div class="row">
          <div class="col-md-6">
            <text-input
              label="Obervações"
              [(ngModel)]="animal.observacoes"
              name="observacoes"
            ></text-input>
          </div>

          <div class="col-md-3">
            <mat-checkbox
              [(ngModel)]="animal.segurado"
              name="segurado"
              class="example-margin"
              >Animal segurado</mat-checkbox
            >
          </div>
          <div class="col-md-3" *ngIf="animal.segurado">
            <date-input
              label="Seguro Expira em"
              (valor)="animal.seguroValidade = $event"
              [value]="animal.seguroValidade"
              name="seguroValidade"
            >
            </date-input>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Genealogia">
        <table cellspacing="10px" cellpadding="5px">
          <tbody>
            <tr>
              <td rowspan="4" class="col-md-3">
                <div>
                  <text-input-autocomplete
                    #equip
                    label="Pai"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.pai = $event; equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.pai"
                    [filtro]="['sexo', '==', 'Macho']"
                  ></text-input-autocomplete>
                </div>
              </td>
              <td rowspan="2" class="col-md-3">
                <div *ngIf="this.animal.pai">
                  <text-input-autocomplete
                    #equip
                    label="Avô Pat."
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.pai.pai = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.pai.pai"
                    [filtro]="['sexo', '==', 'Macho']"
                  ></text-input-autocomplete>
                </div>
              </td>

              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.pai">
                <div *ngIf="this.animal.pai.pai">
                  <text-input-autocomplete
                    #equip
                    label="Bisavô pat pat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.pai.pai.pai = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.pai.pai.pai"
                    [filtro]="['sexo', '==', 'Macho']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
            <tr>
              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.pai">
                <div *ngIf="this.animal.pai.pai">
                  <text-input-autocomplete
                    #equip
                    label="Bisavó pat pat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.pai.pai.mae = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.pai.pai.mae"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
            <tr>
              <td rowspan="2" class="col-md-3">
                <div *ngIf="this.animal.pai">
                  <text-input-autocomplete
                    #equip
                    label="Avó Pat."
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.pai.mae = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.pai.mae"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>

              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.pai">
                <div *ngIf="this.animal.pai.mae">
                  <text-input-autocomplete
                    #equip
                    label="Bisavô pat mat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.pai.mae.pai = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.pai.mae.pai"
                    [filtro]="['sexo', '==', 'Macho']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
            <tr>
              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.pai">
                <div *ngIf="this.animal.pai.mae">
                  <text-input-autocomplete
                    #equip
                    label="Bisavó pat mat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.pai.mae.mae = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.pai.mae.mae"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <table cellspacing="10px" cellpadding="5px">
          <tbody>
            <tr>
              <td rowspan="4" class="col-md-3">
                <div>
                  <text-input-autocomplete
                    #equip
                    label="Mãe"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.mae = $event; equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.mae"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>
              <td rowspan="2" class="col-md-3">
                <div *ngIf="this.animal.mae">
                  <text-input-autocomplete
                    #equip
                    label="Avô Mat."
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.mae.pai = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.mae.pai"
                    [filtro]="['sexo', '==', 'Macho']"
                  ></text-input-autocomplete>
                </div>
              </td>

              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.mae">
                <div *ngIf="this.animal.mae.pai">
                  <text-input-autocomplete
                    #equip
                    label="Bisavô pat pat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.mae.pai.pai = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.mae.pai.pai"
                    [filtro]="['sexo', '==', 'Macho']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
            <tr>
              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.mae">
                <div *ngIf="this.animal.mae.pai">
                  <text-input-autocomplete
                    #equip
                    label="Bisavó pat pat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.mae.pai.mae = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.mae.pai.mae"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
            <tr>
              <td rowspan="2" class="col-md-3">
                <div *ngIf="this.animal.mae">
                  <text-input-autocomplete
                    #equip
                    label="Avó Mat."
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.mae.mae = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.mae.mae"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>

              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.mae">
                <div *ngIf="this.animal.mae.mae">
                  <text-input-autocomplete
                    #equip
                    label="Bisavô pat mat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.mae.mae.pai = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.mae.mae.pai"
                    [filtro]="['sexo', '==', 'Macho']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
            <tr>
              <td style="height: 50px" class="col-md-3" *ngIf="this.animal.mae">
                <div *ngIf="this.animal.mae.mae">
                  <text-input-autocomplete
                    #equip
                    label="Bisavó pat mat"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.mae.mae.mae = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.mae.mae.mae"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>

            <tr>
              <td style="height: 50px" class="col-md-3">
                <div>
                  <text-input-autocomplete
                    #equip
                    label="Recptora"
                    colecao="{{ animal_collection }}"
                    selectLabel="nome"
                    (valor)="
                      animal.receptora = $event;
                      equip.realizarFiltragem($event.id)
                    "
                    [value]="animal.receptora"
                    [filtro]="['sexo', '==', 'Fêmea']"
                  ></text-input-autocomplete>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Dados de venda">
        <div class="row">
          <div class="col-md-3">
            <select-input
              #equip
              label="Animal está a venda"
              [itens]="opcoesVenda"
              (valor)="
                animal.aVenda = $event;
                animal.aVenda == 'Sim' ? (venda = true) : ''
              "
              [value]="animal.aVenda"
            ></select-input>
          </div>

          <div class="col-md-3" *ngIf="animal.aVenda">
            <text-input
              label="Descrição do Negócio"
              [(ngModel)]="animal.descricaoNegocio"
              name="descricaoNegocio"
            ></text-input>
          </div>

          <div class="col-md-3" *ngIf="animal.aVenda">
            <number-input
              label="Preço"
              [(ngModel)]="animal.preco"
              name="preco"
            ></number-input>
          </div>

          <div class="col-md-3" *ngIf="animal.aVenda">
            <number-input
              label="Numero de parcelas"
              [(ngModel)]="animal.parcelas"
              name="parcelas"
            ></number-input>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
  <p *ngIf="this.animal.ultimaEdicao">
    Ultima Edição {{ this.animal.ultimaEdicao }}
  </p>
  <div class="text-center m-3">
    <button type="submit" (click)="submit()" class="btn btn-primary">
      Enviar
    </button>
  </div>
</div>
