<div class="row">
    <div class="col-md-3">
      <text-input
        label="Nome"
        [(ngModel)]="animal.nome"
        name="nome"
      ></text-input>
    </div>

    <div class="col-md-3">
      <date-input
        label="Data de Nascimento"
        (valor)="animal.dataNascimento = $event"
        [value]="animal.dataNascimento"
        name="dataNascimento">
      </date-input>
    </div>

    <div class="col-md-3">
      <date-input
        label="Data de Entrada no plantel"
        (valor)="animal.dataEntrada = $event"
        [value]="animal.dataEntrada"
        name="dataEntrada">
      </date-input>
    </div>

    <div class="col-md-3">
      <text-input
        label="Criador"
        [(ngModel)]="animal.criador"
        name="criador"
      ></text-input>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-3">
      <text-input-autocomplete
      #equip
      [value]="animal.pai"
      label="Pai"
      colecao="{{animal_collection}}"
      selectLabel="nome"
      (valor)="animal.pai = $event; equip.realizarFiltragem($event.id)"
      [filtro]="['sexo', '==', 'Macho']"
      ></text-input-autocomplete>
    </div>
    
    <div class="col-md-3">
      <text-input-autocomplete
      label="Mãe"
      colecao="{{ animal_collection }}"
      selectLabel="nome"
      (valor)="animal.mae = $event; equip.realizarFiltragem($event.id)"
      [value]="animal.mae"
      [filtro]="['sexo', '==', 'Fêmea']"
      ></text-input-autocomplete>
    </div>
    
    <div class="col-md-3">
      <text-input-autocomplete
      label="Recptora"  
      colecao="{{ animal_collection }}"
      selectLabel="nome"
      (valor)="animal.receptora = $event; equip.realizarFiltragem($event.id)"
      [value]="animal.receptora"
      [filtro]="['sexo', '==', 'Fêmea']"
      ></text-input-autocomplete>
    </div>

    <div class="col-md-3">
      <text-input
        label="Proprietário"
        [(ngModel)]="animal.proprietario"
        name="proprietario"
      ></text-input>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <text-input
      label="Controle de Criador"
      [(ngModel)]="animal.controlCriador"
      name="controlCriador"
      ></text-input>
    </div>
    
    <div class="col-md-3">
      <select-input
      #equip
      label="Local de Nascimento"
      [itens]="paises"
      (valor)="animal.nacionalidade = $event"
      [value]="animal.nacionalidade" 
      ></select-input>
    </div>

    <div class="col-md-3">
        <select-input
        #equip
        label="Sexo"
        [itens]="sexos"
        (valor)="animal.sexo = $event"
        [value]="animal.sexo" 
        ></select-input>
    </div>

    <div class="col-md-3" *ngIf="animal.sexo == 'Fêmea'">
      <select-input
      #equip
      label="Categoria"
      [itens]="papeisFem"
      (valor)="animal.categoria = $event"
      [value]="animal.categoria" 
      ></select-input>
    </div>
    
    <div class="col-md-3" *ngIf="animal.sexo == 'Macho'">
      <select-input
      #equip
      label="Categoria"
      [itens]="papeisMacho"
      (valor)="animal.categoria = $event"
      [value]="animal.categoria" 
      ></select-input>
    </div>
</div>
<div class="row">
    
    <div class="col-md-3">
      <text-input
      label="Pelagem"
      [(ngModel)]="animal.pelagem"
      name="pelagem"
      ></text-input>
    </div>
    
    <div class="col-md-3">
        <select-input
        #equip
        label="Temperamento"
        [itens]="temperamentos"
        (valor)="animal.temperamento = $event"
        [value]="animal.temperamento" 
        ></select-input>
    </div>

    <div class="col-md-3">
      <mat-checkbox (change)="set.emit(this.animal.referencia)" [(ngModel)]="animal.referencia" name="referencia"class="example-margin">Animal de refêrencia</mat-checkbox>
    </div>
    
    <div class="col-md-3">
      <mat-checkbox (change)="set.emit(this.animal.vivo)" [(ngModel)]="animal.vivo" name="vivo" class="example-margin">Vivo</mat-checkbox>
    </div>
</div> 