<div>
    <list 
    [cabecalhos]="['Editar', 'Animal', 'Categoria' ,'Responsável', 'Data', 'Procedimento', 'Anotações/Materiais']"
    [valores]="procedimentos" 
    [campos]="[['animal', 'nome'], 'categoria' ,'responsavel', 'data', ['procedimento', 'nome'], 'anotacoes_materiais']"
    (editFunction)="edit($event)"
    (deleteFunction)="delete($event)"></list>
</div>  

<div style="text-align: center">
    <button (click)="adicionar()" class="btn btn-primary">Adicionar Examinação</button>
</div>